<!DOCTYPE html>

<head>

    <title>URL Shortener service</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

</head>

<body>
    <p>Please enter the url you would like to shorten:</p>

    <form class="'pure-form" method="POST" action="/">
        URL:<br>
        <input type="text" name="url"><br>
        <button type="submit" class="pure-button pure-button-primary" value="Submit">Submit</button>
    </form>


<div>

    {% if input_url %}
        <p>The URL you input is {{ input_url}}</p>
    {% endif %}

</div>


</body>